*{
    padding:5px;
    margin:0px;
}
#div1{
        border: 2px solid red;
        background-color: aqua;
        height: 250px;
        width: 400px;
        border-radius:10px;
        color:blue;
    }
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

.especial:hover{
    cursor:pointer;
    background-color:burlywood;
}